# Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Environment files
.env


# .NET build folders
**/bin/
**/obj/


# IDE/editor folders
.vscode/
.idea/
# =======
.vs/
node_modules/
.angular/
dist/
build/



# dataset 
ai-service/train-models/weapon-detection/dataset
