# AI
/ai/ @Ahmed-Saleh-Hanafi @A7med-Ibrahim

# Backend
/backend/ @Abdulrahman-Atef-y @khaled-soltan1

# Frontend web
/frontend/web/ @Salahyasser45

# Frontend Mobile
/frontend/mobile @radwaalmodather2000

# IOT
/iot/ @abdoshawqi